{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
  <div class="box">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
          <form action="/name_distrib" method="post">
        <div class="field">
          <label class="label">Distribution Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="Distribution Name" name="distrib_name" required>
          </div>
        </div>
        <div class="field">
          <label class="label">Distribution Description</label>
          <div class="control">
            <textarea class="textarea" placeholder="Distribution Description" name="distrib_description"></textarea>
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <input type="submit" class="button is-link" value="Next: Upload Data">
          </div>
          <div class="control">
            <a href="/" class="button is-light">Cancel</a>
          </div>
        </div>
      </form>
  </div>
</div>
{% endblock %}