{% extends "base.html" %}

{% block content %}
<div class="column">
  <div class="box" style="max-width: 100%; min-width: 400px;">
    <div style="overflow-x: auto;">
      <table class="table is-fullwidth is-striped is-bordered">
        <thead>
          <tr>
            {% for column in columns %}
            <th class="has-text-left" style="font-size:90%">{{ column }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in rows %}
          <tr>
            {% for column in columns %}
            <td class="has-text-left" style="font-size:100%">{{ row[column] }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}